@page "/GuidGenerator"
@inject IGradedLocalStorage LocalStorage

<PageTitle>Guid 生成器 - SharpTools</PageTitle>

<h1>Guid 生成器</h1>

<FluentStack Orientation="Orientation.Vertical">
    <div>
        <FluentStack Orientation="Orientation.Vertical">
            <FluentNumberField Label="数量" Min="1" @bind-Value="countInput"></FluentNumberField>

            <FluentSelect TOption="GuidFormat" Label="格式" Items="formats" OptionText="@(x => x.Name)" @bind-SelectedOption="FormatInput"></FluentSelect>

            <FluentButton OnClick="(() => ButtonClick())">生成</FluentButton>
        </FluentStack>
    </div>
    <div>
        @foreach (var guid in outputs)
        {
            <span>@FormatInput.Converter(guid)</span> <br />
        }
    </div>
</FluentStack>
